:root {
  /*Primary*/

  /*Text*/
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  /*Background gradient:*/
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);

  /*Neutral*/

  /*Text*/
  --veryDarkDrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  /*Dividers*/
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
  list-style: none;
  font-size: 15px;
  font-family: "Kumbh Sans";
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--softViolet);
  display: flex;
  justify-content: center;
}

.contenedor {
  margin-top: 100px;
  background: url(../images/bg-pattern-desktop.svg) left/95% no-repeat;
  background-position: -550px -280px;
  background-color: white;
  height: 500px;
  border-radius: 20px;
  width: 1000px;
  display: flex;
  position: relative;
}

.imagen {
  width: 50%;
  background: url(../images/illustration-woman-online-desktop.svg) left/95%
    no-repeat;
  background-position: -77px 75px;
}

.texto {
  width: 50%;
}

.caja {
  position: absolute;
  top: 210px;
  left: -120px;
}

.item {
  width: 400px;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.item__pregunta {
  width: 400px;
  padding: 20px 0px 20px 0px;
}

.item__pregunta:hover {
  color: var(--softRed);
}

.item__respuesta {
  color: var(--darkGrayishBlue);
  font-size: 14px;
  width: 400px;
  margin-right: 40px;
  padding-bottom: 5px;
  display: none;
}

.item__respuesta_activa {
  width: 400px;
  font-size: 14px;
  margin-right: 40px;
  padding-bottom: 5px;
  display: block;
}

.item__click {
  display: inline-block;
  background: url(../images/icon-arrow-down.svg) center/70% no-repeat;
  height: 20px;
  width: 20px;
}

.marco {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 35px;
  margin-top: 40px;
  padding: 20px 0px 20px 0px;
}
